<!DOCTYPE html>
<html>
<head>
    <title>Инвентарь</title>
</head>

<body>
    <h1>Складские остатки</h1>
    <table border="1">
        <tr>
            <th>Товар</th>
            <th>Количество</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Нет данных</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>