{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stockly{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    <link rel="icon" type="image/png"  sizes="64x64" href="{% static 'main/img/logo.png' %}">

   
</head>
<body>
    {% block mainmenu %}
    <header class="site-header">
        <div class="container header-inner">
            <div class="logo-block">
                <h1 class="logo">Stockly</h1>
                <p class="logo-subtitle">Retail Demand Forecasting System</p>
            </div>

           
            <aside class="sidebar">
                <nav class="main-nav">
                        {% for item in menu %}
                            <a href="{{ item.url }}"
                            class="{% if request.path == item.url %}active{% endif %}">
                        {{ item.title }}
                            </a>
                        {% endfor %}

                    <div class="nav-auth">
                        {% if user.is_authenticated %}
                            <a href="{% url 'profile' %}" class="register-btn">{{ user.username }}</a>

                            <form action="{% url 'logout' %}" method="post" class="logout-form">
                        {% csrf_token %}
                            <button type="submit" class="logout-btn">Выйти</button>
                            </form>
                        {% else %}
                            <a href="{% url 'login' %}" class="login-btn">Вход</a>
                            <a href="{% url 'register' %}" class="register-btn">Регистрация</a>
                        {% endif %}
                    </div>
                </nav>
            </aside>
        </div>
    </header>




    {% endblock %}

    <main class="container main-content">
        {% block content %}
        {% endblock %}
       
    </main>

</body>
</html>



