{% extends 'main/layout.html' %}
{% block title %}Прогноз | Stockly{% endblock %}

{% block content %}
<section class="page-forecast">
    <div class="product-forecast-panel">
                <h2>Ключевые прогнозы</h2>

                <div class="product-forecast-grid">
                    <div class="forecast-item">
                        <span class="forecast-label">1 день</span>
                        <span class="forecast-value">?</span>
                    </div>

                    <div class="forecast-item">
                        <span class="forecast-label">7 дней</span>
                        <span class="forecast-value">?</span>
                    </div>

                    <div class="forecast-item">
                        <span class="forecast-label">14 дней</span>
                        <span class="forecast-value">?</span>
                    </div>

                    <div class="forecast-item">
                        <span class="forecast-label">30 дней</span>
                        <span class="forecast-value">?</span>
                    </div>

                    <div class="forecast-item">
                        <span class="forecast-label">К заказу</span>
                        <span class="forecast-value">?</span>
                    </div>

                    <div class="forecast-item">
                        <span class="forecast-label">Рекомендуемая цена</span>
                        <span class="forecast-value">? ₽</span>
                    </div>
                </div>
            </div>
</section>
{% endblock %}