{% extends 'main/layout.html' %}
{% block title %}{{ product.name }} | Stockly{% endblock %}

{% block content %}
<section class="product-detail-page">
    {% if product %}
        <div class="product-top-layout">
            <div class="product-main-info">

                <div class = "products-up">
                    <div class = "products-up-title">
                        <h1 class="product-title">{{ product.name }}</h1>
                    </div>
                    <div class = "products-up-btn">
                        <a href="/products/">Назад</a>
                    </div>
                </div>
               

                <div class="product-info-grid">
                    <div class="product-info-column">
                        <p><strong>Название:</strong> {{ product.name }}</p>
                    </div>

                    <div class="product-info-column">
                        <p><strong>Категория:</strong> {{ product.category }}</p>
                    </div>

                    <div class="product-info-column">
                        <p><strong>Закупочная цена:</strong> {{ product.purchase_price }} ₽</p>
                    </div>

                    <div class="product-info-column">
                        <p><strong>Поставщик:</strong> {{ product.supplier }}</p>
                    </div>

                    <div class="product-info-column">
                        <p><strong>Цена продажи:</strong> {{ product.sale_price }} ₽</p>
                    </div>

                    <div class="product-info-column">
                        <p><strong>Текущий остаток:</strong> {{ product.stock_quantity }}</p>
                    </div>
                    
                </div>
            </div>
        </div>

    
    
    {% else %}
        <div class="empty-state">
            <h3>Товар не найден</h3>
            <p>Информация о товаре отсутствует.</p>
        </div>
    {% endif %}

    <div class="chart-list">
        {% for item in forecast.daily_series %}
            <div class="chart-row">
                <span class="chart-date">{{ item.date }}</span>

                <div class="chart-bar-wrap">
                    <div class="chart-bar" style="width: {{ item.width }}%;"></div>
                </div>

                <strong class="chart-value">{{ item.sales }}</strong>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}