{% extends 'main/layout.html' %}
{% block title %}Товары | Stockly{% endblock %}

{% block content %}
<section class="products-page">
    <div class="page-header">
        <h2>Список товаров</h2>
        <p>
            На этой странице отображаются товары, импортированные в систему
            из внешнего источника или загруженного файла.
        </p>
    </div>

    <p class="p-data">Загрузите базу данных</p>
    <div class="custom-file-upload">
        <label for="file-upload" class="custom-file-label" id="file-label">
           Загрузите базу 
        </label>
        <input type="file" id="file-upload" class="file-input-hidden">
    </div>

    


    <div class="search-card">
        <form method="get" class="search-form">
            <input type="text" name="q" placeholder="Поиск по названию товара..." value="{{ query }}">
            <button type="submit">Найти</button>
        </form>
    </div>

    <div class="table-card">
        {% if products %}
        <table class="products-table">
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td> <a href="{% url 'product_detail' product.id %}" class="products-list"> {{ product.name }} </a></td>
                    <td> <a href="{% url 'product_detail' product.id %}" class="products-list"> {{ product.category }}  </a></td>
                    <td class="products-list-price"> {{ product.sale_price }} ₽ </td>
                    <td class="products-list-quantity">  {{ product.stock_quantity }} </td>
                    <td> <a href="{% url 'product_detail' product.id %}" class="products-list"> {{ product.supplier }}  </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="empty-state">
            <h3>Ничего не найдено</h3>
            <p>
                По вашему запросу товары не найдены
                или данные ещё не были загружены в систему.
            </p>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
